/*==================================Google Fonts================================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================================Colors======================================*/
:root{
  --background-color: #081b29;
  --bg2-color: #112e42;
  --text-color: #ededed;
}
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}
html {
  scroll-behavior: smooth;
  overflow-x:hidden;
}
body {
  font-family: 'Poppins',sans-serif;
  background-color: var(--background-color);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.nav_menu ul{
  margin-left: auto;
  list-style: none;
  display: flex;
}

.nav_menu a{
  color: var(--text-color);
  text-decoration: none;
}
.nav_menu li {
  padding-right: 20px;
}
.header #name {
  margin-right: auto;
  margin-left: 0;
}

